{% for item in items %}
{% if loop.first %}
<p>
  &emsp; Starting Date: {{ item.begin_date }}
  &emsp; Starting time: {{ item.begin_time }}
</p>
<p>===========================================================================</p>
{% endif %}
<p>checkpoint #{{ item.checknum }}
  &emsp; Miles:{{ item.miles }}
  &emsp; Kilometers:{{ item.km }}
  &emsp; Opening Time:{{ item.open_time }}
  &emsp; Closing Time{{ item.close_time }}
</p>
<p>=============================</p>
{% endfor %}
