<html>
<title>Login</title>
<form method = "POST" action="">
  <p> Please choose a Username and password </p>
  <div>{{ form.csrf_token }}</div>
  <div> {{ form.username.label }}: {{ form.username }} </div>
  <div> {{ form.password.label }}: {{ form.password }} </div>
  <div>{{ form.remember }} {{ form.remember.label }}</div>
  <input type="submit" value="Login">
</form>
<a href = "/api/register"> Register here </a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</html>
