<html>
<title>Registration</title>
<form method = "POST" action="/api/register">
  <p> Please choose a Username and password </p>
  <div>{{ form.csrf_token }}</div>
  <div> {{ form.username.label }}: {{ form.username }} </div>
  <div> {{ form.password.label }}: {{ form.password }} </div>
  <input type="submit" value="register">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</html>
  
